.card{
    margin : 2rem;
    border-radius: 1rem;
    height:60%;
    
}



.customer-card{
    border-radius: 1rem;
    width:90%;
    height: 35%;
    flex-direction:row-reverse;
}

.position{
    margin-left:90%;
    margin-top:-7%;
}

.trip-button{
    width : 10%;
}

.upcoming-trips-card{
    margin-left:25%
    
}

.firstClassTitle{ 
    margin-left:3rem;
}
.ecoClassTitle{ 
    margin-left:3rem;
    margin-top : -1.2em;
}

.firstClass{
    margin-left:15rem;   
}

.ecoClass{
    margin-top: -17rem;
    margin-left:50rem;
}

#searchBar{
    margin-top: 2rem ;margin-left: 30rem ;margin-right: 25rem ;margin-bottom: 2rem ;
    width : 40%;
}

h7{
        padding:1rem;
    }

h6{
        padding:1rem;
    }

.vr {
    margin-left:42.5rem;
    margin-top:-20rem;
    height : 25rem;
}

.card-img-status{
    width:45%;
    
}